/* 後から書いたbase が市場入選順位が高い */
/* @layer utilities, typography, base; */

@layer base {
  a {
    font-weight: bold;
    color: red;
  }

  .link {
    color: blue;
  }
}

@layer typography {
  a {
    color: green;
  }
}

@layer utilities {
  .pink {
    color: hotpink;
  }
}
