/*=====================================================================
  body に関する 配置や装飾等の指定
=====================================================================*/

/* body 要素についての指定 */
body {
  /* grid(枠線)を使って配置できるようにします */
  display: grid;

  /* columnは 列の意味で 左右に余白を取り 中央は左と右の二列にします */
  grid-template-columns: 20px 1fr 1fr 20px;

  /* row は 行 の意味で 4行 作成します */
  grid-template-rows:
              /* 各行を指定しやすいよう 行に名前を付けます */
              /* catch code と 同じ行に別名を付けることもできます */
              /* また それぞれの行の高さも指定しています */
              [header]     100px
              [catch code] calc(100vh - 100px - 20px)
              [haiku]      auto
              [footer]     100px;

  /* 各行の間隔を取ります */
  row-gap: 20px;

  /* 書道家・片岡祐二の手書き文字の書体にします  */
  font-family: "Yuji Boku", self;

  /* body直下にあるそれぞれの部品の配置 */
  & > * {
    /* 全ての要素は真ん中の列に配置します */
    /* (左から二本目の線を示しますから、右から二本目の線の間に配置します) */
    grid-column: 2 / -2;
  }

  /* 画面の横幅が768px以上の時の追加指定 */
  @media (width >= 768px) {
    /* 左右に少し余白を取り、中央は6列 用意します */
    /* 1fr 1fr 1fr 1fr 1fr 1fr に代えて repeat(6, 1fr) と書けます */
    grid-template-columns: 0.2fr repeat(6, 1fr) 0.2fr;

    /* row は 行 の意味で 4行 作成します */
    grid-template-rows:
                /* 各行を指定しやすいよう 行に名前を付けます */
                /* catch code と 同じ行に別名を付けることもできます */
                /* また それぞれの行の高さも指定しています */
                [header]      100px
                [catch code]  auto
                [haiku]       auto
                [footer]      100px;

    /* 列の間隔を少し取ります */
    column-gap: 4%;
  }
}
