/*=====================================================================
  body
  モバイル版・デスクトップ版 共通の配置・装飾指定
=====================================================================*/

/*--------------------------------------------------------------------
  ページ全体の設定
---------------------------------------------------------------------*/

/* body 要素についての指定 */
body {
  display: grid; /* grid 枠線 を使って配置するモードにします */
  grid-template-columns: 20px 1fr 20px; /* columnは 列の意味 */
                                        /* 左右の余白を取ります */
  grid-template-rows:         /* row は 行 の意味 */
              [header] 100px  /* 5行 作成し、各行に名前を付けます */
              [catch]  auto
              [code]   auto
              [haiku]  auto
              [footer] 100px;
  row-gap: 20px;               /* 各行の間隔を取ります */

  /* 書道家・片岡祐二の手書き文字の書体にします  */
  font-family: 'Yuji Boku', serif;
}

/* body直下にあるそれぞれの部品の配置
---------------------------------------------------------------------*/
body > * {
  /* 全ての要素は真ん中の列に配置します */
  /* （左から二本目の線から、右から二本目の線の間に配置します） */
  grid-column: 2 / -2;
}

/*=====================================================================
  デスクトップの配置・装飾指定
=====================================================================*/
/* 画面の横幅が768px以上の時に有効に有効になります */
@media (width >= 768px) {
  body {
    /* 左右に少し余白を取り、中央は6列 用意します */
    grid-template-columns: 0.2fr repeat(6, 1fr) 0.2fr;
    column-gap: 5%; /* 列の間隔を少し取ります */
    /* 4行 作成し、各行に名前を付けます */
    /* catch code と 同じ行に別名を付けているのが味噌です */
    grid-template-rows: [header]     100px
                        [catch code] auto
                        [haiku]      auto
                        [footer]     100px;
  }
}
