/*=====================================================================
  キャッチフレーズ
  モバイル版・デスクトップ版 共通の配置・装飾指定
=====================================================================*/

/* キャッチフレーズ
---------------------------------------------------------------------*/
/* h1 要素に対する指定を行う */
h1 {
  grid-row: catch;        /* catch 行の下に配置します */
  justify-self: center;   /* 水平方向に中央揃えします */
  align-self: center;     /* 垂直方向に中央揃えします */
  color: var(--sakurairo);/* 文字の色は桜色にします */
  font-size: 48px;        /* 文字の大きさを指定します */
  font-weight: normal;    /* 文字の太さは、普通にします */
  line-height: 1.2;       /* 行の高さを文字サイズの1.2倍にします */
  /* 文字の右下に黒い影を、左上に灰色の影を付けます */
  text-shadow: 2px 2px 5px var(--kurohairo),
              -2px -2px 5px var(--nibiiro);
}

/* h1要素内の a要素に対する指定を行う */
h1 a {
  color: inherit;        /* 文字の色は、h1 の色を継承します */
  text-decoration: none; /* 文字の装飾はなし(下線を付けない) */
  font-size: 32px;       /* 文字の大きさを指定します */
  margin-top: 1em;       /* 少し上に間隔を取ります */
}

/* h1要素内の a要素にマウスを重ねたときの指定を行う */
h1 a:hover {
  /* 文字の装飾として、下線を付けます */
  text-decoration: underline;
}

/* 装飾画像とソースコードへのリンクボタン
---------------------------------------------------------------------*/
/* p 要素に対する指定を行う */
p {
  grid-row: code;     /* code  行の下に配置します */
  text-align: center; /* 文字揃えは中央にします */
}

/* p 要素内の img 要素に対する指定を行う */
p img {
  width: 240px;       /* 画像の幅を指定します */
  margin: 0 auto;     /* 左右に適宜余白を設けます */
}

/*=====================================================================
  デスクトップ版の配置・装飾指定
=====================================================================*/
@media (width >= 768px) {
  /* デスクトップで閲覧しているときには、
     中央は６列設けたので、
     左の3列に h1要素を配置します
     右の3列に p 要素を配置します */
  h1 {
    grid-column: 2 / span 3;
  }

  p {
    grid-column: 5 / span 3;
    align-self: center; /* 垂直方向に中央揃えします */
  }
}
