/*=====================================================================
  ソースコードへのリンク に関する 配置や装飾等の指定
=====================================================================*/

/* codeクラス(ソースコードへのリンク) についての指定 */
.code {
  grid-row: code;            /* code 行の下に配置します */
  grid-column: 2;            /* 左から二本目の線に配置します */
  text-align: center;        /* 文字揃えは中央にします */
  writing-mode: vertical-rl; /* 縦書きにします */
  justify-self: center;      /* 水平方向に中央揃えします */
  align-self: end;           /* 垂直方向に下揃えします */
  margin-bottom: 50px;       /* 少し下側に間隔を設けます */

  /* 画面の横幅が768px以上の時の追加指定 */
  @media (width >= 768px) {
    /* 横幅が768px以上の時には、中央は６列設けました。
       .code は 左から六本目の線から、二列分使って配置します */
    grid-column: 6 / span 2;
    align-self: center; /* 垂直方向に中央揃えします */
  }
}
