/*=====================================================================
  ヒーローイメージ
  モバイル版・デスクトップ版 共通の配置・装飾指定
=====================================================================*/
/* hero クラスに対する指定を行う */
.hero {
  grid-column: 1 / -1;      /* 左右の余白も使って配置します */
  grid-row: catch / span 2; /* catchとその次の行に配置します */
                            /* (二行を使って配置します) */
}

/* hero クラス内のimg要素に対する指定を行う */
.hero img {
  height: 547px;      /* 写真の高さを指定します */
  object-fit: cover;  /* 写真の真ん中の部分を画面幅に応じて表示します */
}

/*=====================================================================
  デスクトップ版の配置・装飾指定
=====================================================================*/
@media (width >= 768px) {
  .hero {
    grid-row: catch;   /* catch行のみに配置します */
    margin-top: -20px; /* 上に少し詰めて配置します */
  }
}
