/*=====================================================================
  ヒーローイメージ に関する 配置や装飾等の指定
=====================================================================*/

/* hero クラスについての指定 */
.hero {
  grid-column: 1 / -1; /* 左右の余白も使って配置します */
  grid-row: catch;     /* catch 行に配置します */
  margin-top: -20px;   /* 上に詰めて配置します */

  /* hero クラス内にあるimg要素についての指定 */
  & img {
    /* 写真の高さを指定します */
    /* 100vh は 画面の高さの 100% を表します */
    /* calc(100vh - 100px) で 画面高から100pxを引いた値が得られます */
    height: calc(100vh - 100px);
    object-fit: cover;   /* 写真の中央部分を画面幅に応じて表示します */

    /* 画面の横幅が768px以上の時の追加指定 */
    @media (width >= 768px) {
      height: 60vh;      /* 写真の高さを指定します */
    }
  }
}
