/*=====================================================================
  ナビゲーションメニュー
  モバイル版・デスクトップ版 共通の配置・装飾指定
=====================================================================*/

/* nav 要素に対する指定を行う */
nav {
  grid-row: header;     /* header 行の下に配置します */
  justify-self: center; /* 水平方向に中央揃えします */
  align-self: end;      /* 垂直方向に下揃え(終わりの側に)配置します */
}

/* nav 要素内のul要素に対する指定を行う */
nav ul {
  list-style: none;       /* 箇条書きの為の印をなしにします */
  padding: 0;             /* 内側の詰め物をなしにします */
  display: grid;          /* grid 枠線 を使って配置するモードにします */
  grid-auto-flow: column; /* 要素を 列方向に自動配置します */
  column-gap: 20px;       /* 列間を20pxにします */
}

/* nav 要素内のul要素内のli要素内のa要素に対する指定を行う */
nav ul li a {
  color: var(--kurohairo); /* 文字の色は黒羽色にします */
  text-decoration: none;   /* 文字の装飾はなし(下線を付けない) */
  font-size: 13px;         /* 文字の大きさを指定します */
  font-weight: bold;       /* 文字の太さは、太字にします */
}

/* nav 要素内のul要素内のli要素内のa要素に
/* マウスを重ねたときの指定を行う */
nav ul li a:hover {
  color: var(--shinonomeiro); /* 文字の色は東雲色にします */
}

/*=====================================================================
  デスクトップ版の配置・装飾指定
=====================================================================*/
@media (min-width: 768px) {
  nav {
    justify-self: end;  /* 水平方向に右揃え(終わりの側に)配置します */
    align-self: center; /* 垂直方向に中央揃えします */
  }
}
