/*=====================================================================
  CSSリセット
  ブラウザが標準で準備しているスタイルシートを、
  自分でデザインしやすいよう、リセットする
=====================================================================*/

/* 全ての要素について */
* {
  margin: 0; /* 間隔を0にする */
}

/* 全てのimg要素について */
img {
  width: 100%;            /* 画像の幅を全部表示 */
  height: auto;           /* 画像の高さは横幅に合わせて適宜表示 */
  vertical-align: bottom; /* 画像を文字の下側に揃えて表示 */
}
