.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding-top: 1rem;

  .logo {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    align-self: start;
    width: 5em;
  }

  .hamburger {
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
    align-self: start;
  }

  .nav {
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
    align-self: start;
  }

  .scaling_disk {
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
    align-self: start;
  }
}
