/*=====================================================================
  最新記事
=====================================================================*/
.recipe {
  background: #ffec4780;

  & h2 {
    /* 書体の大きさを可変にする */
    /* https://chrisburnell.com/clamp-calculator/ */
    font-size: clamp(1.5rem, 0.069rem + 6.107vw, 3rem);
  }

  /* 時計アイコン */
  .fa-clock {
    color: var(--amairo);
  }

  & img {
    max-width: 100%;
    height: auto;
  }

  & p {
    line-height: 2;
    font-size: clamp(1rem, 0.881rem + 0.509vw, 1.125rem);
  }

}
