/* sakura.css の補正 */
body { max-width: 90%; }

/* 区切り線 ラーメンらしく雷門の模様に */
.divider { background-image: url("images/raimon_ss.webp");
           height: 20px;
           border: none;
           overflow: none; }

/* 24店舗をグリッドで配置する */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

/* ラーメンの種類に応じて枠線を付ける */
div[data-color="shoyu"]    { border: 5px solid #674196; }
div[data-color="miso"]     { border: 5px solid #f19072; }
div[data-color="shio"]     { border: 5px solid #2ca9e1; }
div[data-color="tonkotsu"] { border: 5px solid #ffec47; }

/* Muuri 補正 */
.item { transform: none !important; }

/* ラーメンカードに適宜余白等設定 */
.card .card-image { margin: 0; }
.card .card-image img { width: 100%; height: auto; }
.card h2,
.card p { padding: 0.5em; }
.card h2 { margin: 0; font-size: 1.5em; }

/* 表 */
table { border-collapse: collapse; }
th, td { border: solid 1px #674196; }

/* 地図 */
.map { padding: 20px; border: solid 1px #674196; }

/* 評価 */
.report {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 40vw;
}

.report h2      { grid-column: 1; grid-row: 1; }
.report div     { grid-column: 1; grid-row: 2; }
.report .note   { grid-column: 2; grid-row: 2; }
.report .note p { text-indent: 1em; }

.rating { display: inline; }
.star { font-size: 3rem; margin: 0 .05em; }

.star::before {
  content: '\f005';
  color: #ffec47;
  font-weight: 900;
  font-family: 'Font Awesome 6 Free';
}

.rating[data-rate="0"]   .star:nth-child(n+1)::before,
.rating[data-rate="0.5"] .star:nth-child(n+1)::before,
.rating[data-rate="1"]   .star:nth-child(n+2)::before,
.rating[data-rate="1.5"] .star:nth-child(n+2)::before,
.rating[data-rate="2"]   .star:nth-child(n+3)::before,
.rating[data-rate="2.5"] .star:nth-child(n+3)::before,
.rating[data-rate="3"]   .star:nth-child(n+4)::before,
.rating[data-rate="3.5"] .star:nth-child(n+4)::before,
.rating[data-rate="4"]   .star:nth-child(n+5)::before,
.rating[data-rate="4.5"] .star:nth-child(n+5)::before {
  color: #9ea1a3;
  font-weight: 400;
}

.rating[data-rate="0.5"] .star:nth-child(1)::before,
.rating[data-rate="1.5"] .star:nth-child(2)::before,
.rating[data-rate="2.5"] .star:nth-child(3)::before,
.rating[data-rate="3.5"] .star:nth-child(4)::before,
.rating[data-rate="4.5"] .star:nth-child(5)::before {
  content: '\f5c0';
  color: #ffec47;
  font-weight: 900;
  font-family: 'Font Awesome 6 Free';
}
