/*=============================================================================
  body の配置指定など
=============================================================================*/

/*-----------------------------------------------------------------------------
  基本設定
-----------------------------------------------------------------------------*/

body {
  /* テキストの自動拡大を無効化 */
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/*-----------------------------------------------------------------------------
  ページ全体の設定
-----------------------------------------------------------------------------*/
body {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows:
    [vegas] 100vh
    [title] auto
    [sub] auto
    [recent] auto
    [zoo] auto
    [sea] auto
    [foot] auto;
  row-gap: 20px;

  @media (width >= 768px) {
    grid-template-columns: 0.2fr repeat(6, 1fr) 0.2fr;
    grid-template-rows:
      [vegas] 100vh
      [title sub] auto
      [recent] auto
      [zoo] auto
      [sea] auto
      [foot] 100px;
    column-gap: 5%;
  }

  font-family: 'Hachi Maru Pop', cursive;

  /* パーツの配置 */
  > * {
    grid-column: 2 / -2;
  }

  & header {
    grid-column: 1 / -1;
  }
}
