/*=============================================================================
  ロゴ
=============================================================================*/
.logo {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  column-gap: 10px;

  text-decoration: none;

  & img {
    grid-column: 1;
    grid-row: 1;
    width: clamp(40px, 10vw, 54px);
    height: clamp(40px, 10vw, 54px);
    justify-self: start;
    align-self: center;
  }

  & span {
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
    align-self: center;

    /* 画面幅に応じて可変するフォントサイズ */
    /* Viewport 375px => 32px, Viewport 768px => 48px */
    font-size: clamp(2rem, 1.046rem + 4.071vw, 3rem);

    /* グラデーション */
    /* CSSでテキストを彩る装飾サンプル集 https://1-notes.com/css-text-design/ */
    color: transparent;
    background: repeating-linear-gradient(45deg,
      #e60012 0.1em 0.2em,
      #f39800 0.2em 0.3em,
      #fff100 0.3em 0.4em,
      #009944 0.4em 0.5em,
      #0068B7 0.5em 0.6em,
      #1d2088 0.7em 0.8em,
      #cfa7cd 0.8em 0.9em);
    -webkit-background-clip: text; /* for Chrome */
    background-clip: text;
    font-weight: bold;
    letter-spacing: 10px;
  }
}
