/*=============================================================================
  記事ページ
=============================================================================*/

.post {
  display: grid;
  grid-template-rows:
    [head]    100px
    [kiji]    auto
    [submenu] auto
    [foot]    100px;

  @media (width >= 768px) {
    grid-template-columns: 0.2fr repeat(6, 1fr) 0.2fr;
    grid-template-rows:
      [head] 79px
      [kiji submenu] auto
      [foot] 100px;
  }

  @media (width >= 768px) {
    .header {
      grid-column: 1 / -1;
      align-self: center;
    }
  }

  /* 投稿記事 */
  & main {
    grid-row: kiji;
    margin-bottom: 3rem;

    @media (width >= 768px) {
      grid-column: 2 / span 4;
    }

    > * {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    & p {
      line-height: 2;
    }

    /* 時計アイコン */
    .fa-clock {
      color: var(--amairo);
    }
  }

  /* 区切り線 */
  &::before {
    content: "";
    background: var(--nibiiro);
    height: 2px;
    grid-column: 1 / -1;
    grid-row: kiji;
    margin-top: -20px;
  }
}
