/* タブの為の装飾
-----------------------------------------------------------------------------*/

/* タブの色や形 */
.tab.menu {
  display: grid;
  grid-auto-flow: column;

  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--nibiiro);
}

.tab.menu li {
  background: white;
  width: auto;
  height: 65px;
}

.tab.menu li a {
  display: block;
  margin-bottom: -1px;
  padding: 10px 20px;
  border-bottom: 1px solid var(--nibiiro);
  text-decoration: none;
}

.tab.menu li.active a {
  background: var(--sakurairo);
  border-top:    1px solid var(--nibiiro);
  border-left:   1px solid var(--nibiiro);
  border-right:  1px solid var(--nibiiro);
  border-bottom: 1px solid var(--harukazeiro);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-weight: bold;
}

/* 中身の表示 */
.tab.segument {
  display: none;  /* はじめは非表示 */
  opacity: 0;     /* 透過 */
  background: var(--sakurairo);
}

.tab.segument.active {
  display: block;
  /* ふわっと表示させる */
  animation-name: display-lightly-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  border-top:    1px solid var(--harukazeiro);
  border-left:   1px solid var(--nibiiro);
  border-right:  1px solid var(--nibiiro);
  border-bottom: 1px solid var(--nibiiro);
  border-bottom-left-radius:  3px;
  border-bottom-right-radius: 3px;
}

/* ふわっと表示させるためのアニメーション */
@keyframes display-lightly-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
