/*-----------------------------------------------------------------------------
  テキストの配置
-----------------------------------------------------------------------------*/

/* 左寄せ指定
-----------------------------------------------------------------------------*/
.lefted.text {
  text-align: left !important;
}

/* 中央そろえ指定
-----------------------------------------------------------------------------*/
.centered.text {
  text-align: center !important;
}

/* 右寄せ指定
-----------------------------------------------------------------------------*/
.righted.text {
  text-align: right !important;
}

/*
  大きさ指定
-----------------------------------------------------------------------------*/
.mini.text {
  font-size: 0.4rem !important; }

.tiny.text {
  font-size: 0.5rem !important; }

.small.text {
  font-size: 0.75rem !important; }

.medium.text {
  font-size: 1rem !important; }

.large.text {
  font-size: 1.5rem !important; }

.big.text {
  font-size: 2rem !important; }

.huge.text {
  font-size: 4rem !important; }

.massive.text {
  font-size: 8rem !important; }

/*
  リードテキスト
-----------------------------------------------------------------------------*/
.lead.text {
  font-size: 1.1rem; }

/* 見出し
-----------------------------------------------------------------------------*/
/* CSS見出しデザイン参考100選 */
/* https://jajaaan.co.jp/css/css-headline/ */

.top h2 {
  position: relative;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
}

.top h2:before,
.top h2:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  content: '';
  background-image: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
}

.top h2:before {
  top: 0;
}

.top h2:after {
  bottom: 0;
}

/*
  CSSのコピペだけ！おしゃれな見出しのデザイン例まとめ68選
  https://saruwakakun.com/html-css/reference/h-design
  見出し
-----------------------------------------------------------------------------*/
.title {
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem; }
  .title span {
    background: #0d0d0d;
    color: #ede9d8;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.5;
    display: inline-block;
    width: calc(100vw - 40px); }
@media (min-width: 768px) {
  .title span {
    width: 400px; }
  .title::before, .title::after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: calc((100vw - 440px) / 2);
    max-width: 440px;
    height: 3px;
    background-color: #0d0d0d; }
  .title::before {
    left: 0; }
  .title::after {
    right: 0; } }


/* 文字を光りながら出現させるためのCSS
-----------------------------------------------------------------------------*/
.glow.text span {
  opacity: 0;
}

/* アニメーションで透過度を0から1に変化させ、text-shadowをつける */
.glow.text.shine span {
  animation: glow_anime_on 1s ease-out forwards;
}

@keyframes glow_anime_on {
    0% { opacity:0; text-shadow: 0 0    0 #fff, 0 0    0 #fff; }
   50% { opacity:1; text-shadow: 0 0 10px #fff, 0 0 15px #fff; }
  100% { opacity:1; text-shadow: 0 0    0 #fff, 0 0    0 #fff; }
}
